---
# Original output from clang-tidy 9.0
# Modified
#  * 2020-05-13 jpyllman
Checks:          '*,-abseil-*,-android-*,-darwin-*,-fuchsia-*,-google-*,-hicpp-*,-llvm*,-mpi-*,-zircon-*,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
...

