# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
/stamp-h1
.deps/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

# Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.lai
*.la
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# clangd index files
.clangd

# specially generated
git_info.hpp
compile_commands.json

# Backup files
*~
\#*\#

# Log files
*.log

# local files to project
